{% extends 'base.html.twig' %}

{% block title %}Prendre un rendez-vous{% endblock %}

{% block body %}
    <h1> Souhaitez-vous Rendez-vous</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('show_profile') }}">Retournez au profil</a>
{% endblock %}
